@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uiyeun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Uiyeun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700');

.bgImage {
    /* 절대적인 위치를 계산한다 */
    position: absolute;
    top: 0;
    left: 0;
    /* 웹브라우저에 맞게 사이즈를 조절한다 */
    width: 100%;
    height: 100%;

    /* 쌓여있는 레이어 순서. -1을 입력하면 사진이 뒤로 밀리고 텍스트가 앞으로 온다 */
    z-index: -2;
}

.hidden {
    display: none;
}

.board {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    display: flex;
    justify-content: center;
    /* 가운데 정렬 */
    align-items: flex-end;
    /* 하단 정렬 */
}

.board img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#clock {
    font-family: 'Uiyeun';
    font-size: 54px;
    position: fixed;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .login {
    position: absolute;
    font-family: 'Uiyeun';
    font-size: 40px;
    top: 2%;
    left: 2%;
    color: white;
}

.weather {
    position: fixed;
    font-family: 'Uiyeun';
    font-size: 26px;
    text-align: center;
    top: 2%;
    right: 2%;
    color: white;
}

#quote {
    font-family: 'NeoDunggeunmoPro-Regular';
    font-size: 36px;
    color:gray;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  #quote span {
    display: block;
    width: 100%;
  }
  
  #quote span:last-child {
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    #quote {
      font-size: 18px;
    }
  }

  .content {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #todo-form {
    margin-bottom: 10px;
  }
  
  #todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #todo-form input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
  }
  
  @media (max-width: 768px) {
    #todo-form input[type="text"] {
      width: 200px;
      font-size: 14px;
    }
  }
  